{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Biblioteca Digital{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'library_web/app.css' %}">
    {% block head %}{% endblock %}
</head>
<body class="public-body">
<main>
    {% include 'library_web/messages.html' %}
    {% block content %}{% endblock %}
</main>
{% block scripts %}{% endblock %}
</body>
</html>
